body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 30px;
}

.table {
    background-color: #150a58;
}

.btn-primary, .btn-warning, .btn-danger {
    margin-right: 10px;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
}

h2 {
    color: #ffffff;
}
label {
    color: #ffffff;
}

input {
    background: red;
}
